.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {}
  
  .modal-close {
    margin-top: 20px;
  }
  
  /* Styles for different modal types */
  .modal-content.app-shelf {
    /* Styles specific to app shelf */
    width: 40%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    text-align: center;
  }
  
  .modal-content.volume {
    /* Styles specific to volume modal */
  }
  
  .modal-content.temperature {
    /* Styles specific to temperature modal */
  }

  .modal-overlay.app-shelf {
    /* Styles specific to app shelf */
    /* border-radius: 1.5% / 3%; */
  }
  
  .modal-overlay.volume {
    /* Styles specific to volume modal */
  }

  @media screen and (max-width: 768px) {
    .modal-content.app-shelf {
        width: 70%;
    }
    .appShelfIcon  {
        width: 40px;
    }
    .appTopShelf {
      padding: none !important;
    }
  }
  
  @media only screen and (max-device-width: 896px) and (orientation: landscape) {
    .modal-content.app-shelf {
        width: 70%;
    }
    .appShelfIcon  {
        width: 40px;
    }
    .appTopShelf {
      padding: none !important;
    }
  }