/* .open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

html, body { width:100%;  overflow: hidden; }

#root {
  height: calc(100vh - 60px);
  background: #4e4e4e;
  padding: 30px;
  caret-color: rgb(0 157 255);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#displayBezel {
  background-color: #000000;
  box-sizing: border-box;
  padding: 2%;
  /* padding: 30px; */
  aspect-ratio: 16 / 9;
  max-height: 748px;
  max-width: 1366px;
  margin: 0 auto 20px;
  border-radius: 3.5% / 5%;
  /* border-radius: 35px; */
  border: 2px solid grey;
  position: relative;
  -webkit-box-shadow: 0 5.5px 15px 3px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 5.5px 15px 3px rgba(0, 0, 0, 0.26);
  box-shadow: 0 5.5px 15px 3px rgba(0, 0, 0, 0.26);
}

.displayWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 680px;
}

.App {
  text-align: center;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.horizontalPanelGroup {
  height: 87% !important;
  /* border-radius: 15px 15px 0px 0px; */
  border-radius: 1.5% / 3%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.leftPanel {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  /* height: calc(68vh - 0px); */
  display: flex;
  flex-direction: column;
  z-index: 4;
  box-shadow: 2px 1px 10px 0px #aaaaaa;
  transition: width 0.3s ease-out;
}

.panelResizeHandle {
  /* background-color: rgb(210, 210, 210); */
  background-color: #f1f1f1;
  /* width: 5px; */
  z-index: 4;
  width: 0.3%;
}

.panelResizeHandle::before {
  content: "";
  display: inline-block;
  position: relative;
  border-radius: 5px;
  width: 5px;
  height: 100px;
  background-color: #999999;
  left: -8px;
  top: calc(50% - 60px);
  top: -o-calc(50% - 60px);
  top: -moz-calc(50% - 60px);
  top: -webkit-calc(50% - 60px);
}

.rightPanel {
  background-color: #f1f1f1;
  position: relative;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.carStatusIcons {
  position: relative;
  text-align: right;
  color: #4e4e4e;
  font-weight: 400;
  padding: 0.5% 1% 0.5% 3%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center; */
}

.topBarCarStatusIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.batteryStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.batteryStatus span {
  padding-right: 4px;
}

.drivingGearIcons {
  /* display: flex; */
  /* justify-content: space-around; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
  max-height: 75px;
  text-align: center;
}

.drivingGearIcons .fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.drivingGearIcons .fade-in {
  opacity: 100;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.carModelStatus {
  position: relative;
  top: 0%;
  z-index: 2;
  left: 10%;
  font-size: 0.7rem;
  color:#4e4e4e;
}

.carModelStatus.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.carModelStatus.fade-in {
  opacity: 100;
  transition: opacity 0.5s ease-out;
  pointer-events: unset;
}

.carModelStatus:hover {
  cursor: pointer;
}

.speedometer {
  font-size: 80px;
  font-weight: 400;
  line-height: 63px;
  text-align: left;
}

.speedometer span {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  bottom: 38px;
  right: -4px;
}

.turnSignal {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.turnSignal.active {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  0%, 100% {
    opacity: 1;
  }
}

.turnSignal img {
  width: 40px;
  position: relative;
  top: 15px;
  /* opacity: 0; */
}

.speedLimit {
  font-size: 12px;
  background-color: #ffffff;
  padding: 4px 5px 2px;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  font-weight: 600;
  max-height: 60px;
  margin-left: auto;
}

.speedLimit span {
  font-size: 26px;
  font-weight: 800;
}

.toggleFrunk {
  position: relative;
  left: 5%;
  top: 80%;
  z-index: 2;
  width: 50px;
  border-right: 1px solid black;
}

.toggleTrunk {
  position: relative;
  left: 60%;
  z-index: 2;
  border-left: 1px solid black;
  padding-left: 6px;
  width: 50px;
}

.frunk, .trunk {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

.toggleLocks {
  position: relative;
  left: 34%;
  /* top: -50%; */
  z-index: 2;
  width: 40px;
  display: flex;
  flex-direction: row-reverse;
}

.temperature {
  font-size: 42px;
  font-weight: 400;
}

.appShelfContainer {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0.5em;
}

.appTopShelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 10px;
}

.appShelf {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
}

.appShelfIcon {
  padding: 5px;
  width: 13%;
}

.appShelfIcon img {
  width: 50%;
}

.customizeBtn {
  position: absolute;
  top: -53px;
  right: calc(50% - 66px);
  z-index: 10;
  background-color: black;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
}

/* UTIL CSS */
.no-select { 
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.small-screen-message {
  display: none;
  text-align: center;
  color: #d0d0d0;
  font-size: 20px;
  position: relative; /* Add this */
}

.small-screen-message span {
  font-size: 14px;
  font-style: italic;
  display: block;
  line-height: 14px;
  padding-top: 7px;
}


/* For smaller screens but larger than mobile */
@media screen and (max-width: 768px) {
  #root {
    padding: 120px 5px;
    height: 100dvh;
  }
  
  .small-screen-message {
    display: block;
  }
}

/* Media query for mobile devices in landscape mode */
@media only screen and (max-device-width: 896px) and (orientation: landscape) {
  #root {
    height: 100dvh;
    padding: 0px;
    width: 100dvw;
  }

  .small-screen-message {
    display: none;
  }

  #displayBezel {
    aspect-ratio: unset !important;
    background-color: none !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    margin: 0px !important;
    max-height: unset !important;
    max-width: unset !important;
    padding: 0px !important;
    /* position: relative; */
  }

  .displayWrapper {
    height: 100dvh;
  }

  .horizontalPanelGroup {
    border-radius: 0px !important;
    height: 82% !important;
  } 

  .carModelWrapper {
    height: 60% !important;
    width: auto !important;
    bottom: 30px;
    z-index: -1;
  }

  .carModelStatus {
    position: absolute;
    top: 20%;
    left: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .carStatusIcons {
    padding: 0.5% 1% 0.5% 10%;
  }

  .speedometer {
    font-size: 60px;
    line-height: 45px;
  }
  
  .speedometer span {
    font-size: 15px;
    bottom: 30px;
    right: -3px;
  }
  

  .toggleLocks {
    top: -26px;
  }

  .musicPanel {
    height: 30% !important;
    max-width: 322px !important;
    position: relative;
    left: -2px;
  }
}


